.header {
    display: flex;
    background: linear-gradient(99deg, #5c9f55, #c2faaf);
    color: white;
    height: 50px;
    align-items: center;
    padding-left: 20px;
    font-weight: 700;
    font-size: 18px;
}